.container{
    margin-top:150px;
    margin: auto;
    border: 1px solid bisque;
    background: #fff;
    border-radius: 5px;
    box-shadow: 20;
    box-shadow: 0 0 3px 0px #afafaf;
    padding:20px;

 }

 .upvote{
     flex-grow: 2;
 }